@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 0;
}

@font-face {
  font-family: DugasPro;
  src: url("../public/assets/dugas-pro-ultra.woff");
}

@font-face {
  font-family: DugasProBold;
  src: url("../public/assets/dugas-pro-bold.woff");
}

@font-face {
  font-family: HelveticaNeue;
  src: url("../public/assets/Helvetica\ Neue\ Regular.otf");
}

html {
  scroll-behavior: smooth;
}
* {
  transition: all 0.2s ease-in-out;
}

@layer base {
  .font-outline-2 {
    -webkit-text-stroke: 1.5px black;
  }
  .font-outline-0 {
    -webkit-text-stroke: 0px black;
  }
  .font-outline-4 {
    -webkit-text-stroke: 4px black;
  }
}
