@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 0;
}

@font-face {
  font-family: DugasPro;
  src: url("../public/assets/dugas-pro-ultra.woff");
}

@font-face {
  font-family: DugasProBold;
  src: url("../public/assets/dugas-pro-bold.woff");
}

@font-face {
  font-family: HelveticaNeue;
  src: url("../public/assets/Helvetica\ Neue\ Regular.otf");
}

html {
}
* {
  transition: all 0.2s ease-in-out;
}
